.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tableCenter {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.top_links {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
}

a.topLink:link {
    text-decoration: none;
    color: #f3f3f3;
}

a.topLink:visited {
    text-decoration: none;
    color: #f3f3f3;
}

a.topLink:hover {
    text-decoration: underline;
    color: #a3a3a3;
}

a:link {
    text-decoration: underline;
    color: #f3f3f3;
}

a:visited {
    text-decoration: underline;
    color: #f3f3f3;
}

a:hover {
    text-decoration: underline;
    color: #a3a3a3;
}

.bodyText {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #f3f3f3;
}

body {
    background-image: linear-gradient(180deg, #00008b, #00001b);
    height: 100%;
    background-attachment: fixed;
}

p, td{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #f3f3f3;
    font-size: 15px;
}

th {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #f3f3f3;
    font-size: 20px;
}

tr>th {
    padding-bottom: 1.5em;
}

tr>td {
    padding-bottom: 1em;
}

.heading {
    font-family: sans-serif;
    color: #f3f3f3;
    text-align: center;
    font-size: 50px;
}